/* .btn {
  border-radius: 40px;
  font-size: 1.2rem;
  color: white;
  background: #fc6011;
  border: none;
  padding: 16px 30px 19px 30px;
}
.btn-border {
  color: #fc6011;
  background: white;
  outline: #fc6011;
  border: solid 2px;
}
.title-text {
  color: dimgrey;
  font: 1em sans-serif;
} */
.btn {
  border-radius: 28px;
  font-size: 16px;
  color: white;
  background: #fc6011;
  border: none;
  padding: 10px 40px;
  line-height: 19px;
  margin-top: 20px;
}

.verify {
  display: grid;
  grid-row-gap: 1em;
  text-align: center;
}

.verify .input {
  margin-top: 2em;
}

.verify__hint a {
  margin-left: 0.5em;
}

.verify__otp {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 1.2em;
}

.verify__otp input {
  padding: 10px;
  width: 2.8rem;
  border-radius: 10px;
}

a,
a:visited,
a:active,
a:hover {
  color: #7099f1;
  font-weight: bold;
  text-decoration: none;
}
