.btn {
  border-radius: 40px;
  font-size: 1.2rem;
  color: white;
  background: #fc6011;
  border: none;
  padding: 16px 30px 19px 30px;
}
.btn-border {
  color: #fc6011;
  background: white;
  outline: #fc6011;
  border: solid 2px;
}
