<section class="card-container" tabindex="0">
  <!-- italian card -->
  <figure class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1498579150354-977475b7ea0b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aXRhbGlhbiUyMGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
      alt="Card Italian Food"
    />
    <figcaption class="card-text">Italian</figcaption>
  </figure>

  <!-- mexican card -->
  <figure class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1582169296194-e4d644c48063?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bWV4aWNhbiUyMGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
      alt="Card Mexican Food"
    />
    <figcaption class="card-text">Mexican</figcaption>
  </figure>

  <!-- offers card -->

  <figure class="card priority">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
      alt="Card Burger"
    />
    <figcaption class="card-text">Offers</figcaption>
  </figure>
  <!-- arabic card -->
  <figure class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1547516453-01c9910aafbf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fGh1bW11c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Card Arabic Food"
    />
    <figcaption class="card-text">Arabic</figcaption>
  </figure>

  <!-- greek card -->
  <figure class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1571139318929-bb90d382dbd8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGdyZWVrJTIwZm9vZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Card Greek Food"
    />
    <figcaption class="card-text">Greek</figcaption>
  </figure>

  <!-- Indian card -->

  <figure class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1598514983318-2f64f8f4796c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTh8fGluZGlhbiUyMGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Card Indian Food"
    />
    <figcaption class="card-text">Indian</figcaption>
  </figure>
</section>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed nulla,
quod sapiente vitae et fugiat, dignissimos odit qui libero atque at, dicta ab ad
totam consectetur beatae consequatur vel!
<!-- tabindex="0" kann man für buttons verwenden und wir benötigt um eine scrollbar mit tab anzuwählen und dann mit dem cursor zu bewegen -->
