.card {
  max-width: 88px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: white;
}
.card-text {
  align-items: center;
  text-align: center;
  font-weight: bold;
  min-height: 1.5rem;
}

.card-img-top {
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  max-width: 88px;
  height: 88px;
}
